@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif !important;
}
nav{
    height: 80px;
}
.carousel-caption{
    bottom: 20%;
}
.toast{
    width: 250px;
    top: 50%;
    right: 10px;
    left: auto;
}
.toast{
    border-left: 6px solid #0D6EFD;
}

/* ---------------
Price Start 
----------------- */
#package .row{
    margin: 40px 0;
}
.weedding {
    transform: translate(0px, -40px);
}
.text-pri{
    color: #221D4F;
    font-weight: 600;
}
.list-group-item{
    background: transparent;
}
.weedding-plus .list-group-item{
    color: #ffffff !important;
}
.weedding-plus{
    background-color: #3F87F5;
    border-radius: 26px;
    padding-left: 20px !important;
}
.package-content{
    padding: 50px 10px;
}
.badge{
    left: auto;
    right: 20px;
}


.accordion-button:not(.collapsed){
    background-color: transparent;
    box-shadow: 0px 1px #DFDFDF66;
}
.Fbgcolor{
    background-color: #0B0D17;
}
footer .row{
    height: 300px;
}
.col-content{
    width: fit-content;
}
@media screen and (max-width: 768px) {
    .weedding {
        transform: translate(0px, 0px);
    }
}